#component1{
    width:100%;
    min-height:63vw;
    background-color:white;;
    padding:2vw;
}
#navbar{
    width:100%;
    display:flex;
}
#navlogo{
    width:10%;
    float:left;
    margin-top:2%;
    margin-left:1%; 
}
#logo{
    width:100%;
   
}
#navpages{
    width:100%;
    display:flex;
}
#solutionsnav{
    width:100%;
    margin-left:30%;
    margin-top:4%;
    cursor:pointer;
    padding:1vw;
    max-height:1.8vw;
    border-radius:20px;
    color:#0096AB  
}
#solutionsnav:hover{
    background-color: #0096AB;
    color:white;  
}

#productnav{
    width:100%;
    margin-left:2%;
    margin-top:4%;
    cursor:pointer;
    padding:1vw;
    border-radius:20px;
    max-height:1.8vw;
    color:#0096AB 

}
#productnav:hover{
    background-color: #0096AB;
    color:white;  
    
}
#resourcesnav{
    width:100%;
    margin-left:2%;
    margin-top:4%;
    cursor:pointer;
    padding:1vw;
    border-radius:20px;
    max-height:1.8vw;
    color:#0096AB 

}
#resourcesnav:hover{
    background-color: #0096AB;
    color:white;  
    
}
#companynav{
    width:100%;
    margin-left:2%;
    margin-top:4%;
    cursor:pointer;
    padding:1vw;
    border-radius:20px;
    max-height:1.8vw;
    color:#0096AB 

}
#companynav:hover{
    background-color: #0096AB;
    color:white;  
    
}
#getnav{
    width:100%;
    margin-left:2%;
    margin-top:4%;
    margin-right:3%;
    cursor:pointer;
    padding:1vw;
    border-radius:20px;
    max-height:1.8vw;
    color:#0096AB 

}
#getnav:hover{
    background-color: #0096AB;
    color:white;  
    
}
#searchicon{
    font-weight:bold;
    margin-top:9%;
    margin-left:2%;
    color:white;
    padding-top:1vw;
    padding-right:none;

}
#searchnav{
  
    margin-top:9%;
    padding:1vw;
    padding-left:none;
}
#contentandinput{
    width:100%;
    display:flex;
}
#content{
    width:30vw;
    margin-top:8%;
    margin-left:4%;
    text-align: left;
}
#content3{
    margin-top:5%;
}
#content4{
    margin-top:1%;
}
#content5{
    margin-top:1%;
}
#content6{
    width:100%;
    margin-top:8%;
}
#input{
    width:60vw; 
}
#input1{
width:90%;

}
#image{
width:100%;
}

@media only screen and (max-width: 1000px) {
    #component1{
        width:100%;
        min-height:63vw;
        background-color:white;;
        padding:2vw;
    }
    #navbar{
        width:100%;
        display:flex;
    }
    #navlogo{
        width:10%;
        float:left;
        margin-top:2%;
        margin-left:1%; 
    }
    #logo{
        width:100%;
       
    }
    #navpages{
        width:100%;
        display:flex;
    }
    #solutionsnav{
        width:100%;
        margin-left:30%;
        margin-top:4%;
        cursor:pointer;
        padding:1vw;
        max-height:1.8vw;
        border-radius:20px;
        color:#0096AB  
    }
    #solutionsnav:hover{
        background-color: #0096AB;
        color:white;  
    }
    
    #productnav{
        width:100%;
        margin-left:2%;
        margin-top:4%;
        cursor:pointer;
        padding:1vw;
        border-radius:20px;
        max-height:1.8vw;
        color:#0096AB 
    
    }
    #productnav:hover{
        background-color: #0096AB;
        color:white;  
        
    }
    #resourcesnav{
        width:100%;
        margin-left:2%;
        margin-top:4%;
        cursor:pointer;
        padding:1vw;
        border-radius:20px;
        max-height:1.8vw;
        color:#0096AB 
    
    }
    #resourcesnav:hover{
        background-color: #0096AB;
        color:white;  
        
    }
    #companynav{
        width:100%;
        margin-left:2%;
        margin-top:4%;
        cursor:pointer;
        padding:1vw;
        border-radius:20px;
        max-height:1.8vw;
        color:#0096AB 
    
    }
    #companynav:hover{
        background-color: #0096AB;
        color:white;  
        
    }
    #getnav{
        width:100%;
        margin-left:2%;
        margin-top:4%;
        margin-right:3%;
        cursor:pointer;
        padding:1vw;
        border-radius:20px;
        max-height:1.8vw;
        color:#0096AB 
    
    }
    #getnav:hover{
        background-color: #0096AB;
        color:white;  
        
    }
    
    #contentandinput{
        width:100%;
        display:flex;
    }
    #content{
        width:30%;
        margin-top:8%;
        margin-left:4%;
        text-align: left;
    }
    #content1{
            font-size:2vw;
    }
    #content2{

    }
    #content3{
        margin-top:5%;
    }
    #content4{
        margin-top:1%;
    }
    #content5{
        margin-top:1%;
    }
    #content6{
        width:100%;
        margin-top:8%;
    }
    #input{
        width:100%; 
        align-items: center;
    }
    #input1{
        margin-top:3%;
         width:100%;
    
    }
    #image{
      width:100%;
      height:100%;
    }
}
